@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
$font: 'Open Sans', sans-serif;
$bg: linear-gradient(to left, #FF6654, #FF295F);
$price: #FE6417;
$heart1: #212129;
$heart2: #FF1312;
$title: #6D1DEB;
$button: #FECA1E;

$white: #fff;
$black: #212129;

* {
   margin: 0;
   padding: 0;
   font-family: $font;
   text-decoration: none;
   text-align: center;
   outline: none;
   border: none;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}

::selection {
   background: $black;
}

img {
   max-width: 100%;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

html, body {
   height: 100%;
}

body {
   background: $bg;
}

.container {
   position: relative;
   background: $white;
   max-width: 600px;
   margin: 0 auto;
   margin-top: 40px;
   padding: 50px;
   border-radius: 20px;
   .wrapper {
      margin: 0;
      .header {
         padding: 0;
         margin-top: -30px;
         .price h1 {
            color: $price;
            font-size: 1.65em;
            text-align: left;
            font-weight: bold;
         }
         .heart-wrap {
            position: relative;
            right: 0;
            left: 0;
            margin-top: -30px;
            text-align: right;
            i.heart:after {
               text-align: right;
               content: "\f004";
               color: $heart2;
               font-size: 1.8em;
            }
            // i.heart:active:after {
            //    content: "\f004";
            //    color: $heart2;
            // }
         }
      }
      .info {
         padding: 0;
         .title h1 {
            color: $title;
            font-size: 1.5em;
            margin-top: 15px;
            padding: 10px;
         }
         .buyBtn {
            background: $button;
            color: $white;
            font-size: 1.5em;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 30px;
            padding: 15px 80px;
            border-radius: 50px;
            cursor: pointer;
            transition: 300ms;
            &:hover {
               background: $black;
               color: $button;
               transition: 300ms;
            }
         }
      }
   }
}